@page
@model TragInElDotNet.Pages.ClientModel
@{
    ViewData["Title"] = "Client page";
}

<style>
    table {
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        @* border: 1px solid white; *@
        margin-bottom: 8% ;
    }

    .prostii {
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-class {
        text-align: center;
        width: 100%-6rem fit-content;
        border-radius: 2px;
    @*position:relative;*@font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 3rem;
        min-width: 5rem;
    }

    .tr-header {
        font-weight: bold;
    }

    form {
        @* border: 1px solid white; *@
        margin-bottom: 3 rem;
    }

    tr,
    td {
        border: 1px solid white;
    }
</style>
@using RazorPagesClient.Models;

<body>
    <div class="prostii"></div>
    <form method="post" class="form-class">
        <p>AddClient</p>
        <input type="text" name="id" value="" readonly placeholder="Id Not Needed">
        <input type="text" name="name" value="" placeholder="Client Name">
        <input type="text" name="surname" value="" placeholder="Client Surname">
        <input type="text" name="npc" value="" placeholder="Numeric Personal Code">
        <input type="text" name="phoneNr" value="" placeholder="Phone#">
        <button asp-page-handler="Add">Add</button>
    </form>
    <form method="post" class="form-class">
        <p>ModifyClient</p>
        <input type="text" name="id" value="" placeholder="Id Needed">
        <input type="text" name="name" value="" placeholder="Client Name">
        <input type="text" name="surname" value="" placeholder="Client Surname">
        <input type="text" name="npc" value="" placeholder="Numeric Personal Code">
        <input type="text" name="phoneNr" value="" placeholder="Phone#">
        <button asp-page-handler="Modify">Modify</button>
    </form>

    <form method="post" class="form-class">
        <p>Remove From Existance</p>
        <input type="text" name="id" value="">
        <button asp-page-handler="Delete">Delete</button>
    </form>
    </div>
    @if (Model != null && Model.clients != null)
    {
        <table>
            <tr class="tr-header">
                <td>Id</td>
                <td>Name</td>
                <td>Surname</td>
                <td>NPC</td>
                <td>Phone#</td>
            </tr>
            @foreach (Client client in Model.clients)
            {
                <tr>
                    <td>@client.id</td>
                    <td>@client.name</td>
                    <td>@client.surname</td>
                    <td>@client.npc</td>
                    <td>@client.phoneNr</td>
                </tr>
            }

        </table>
    }
</body>